# Copyright OpenSearch Contributors
# SPDX-License-Identifier: Apache-2.0
#
# The OpenSearch Contributors require contributions made to
# this file be licensed under the Apache-2.0 license or a
# compatible open source license.

Source: opensearch
Section: web
Priority: optional
Maintainer: OpenSearch Team <opensearch@amazon.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://opensearch.org/

Package: opensearch
Architecture: any
Description: An open source distributed and RESTful search engine
    OpenSearch makes it easy to ingest, search, visualize, and analyze your data
    For more information, see: https://opensearch.org/
