Thumbs.db
.DS_Store

.idea/
*.iml

__pycache__
.pytest_cache
*.pyc

.coverage
coverage.xml
coverage/

.gradle/
.settings/
/build/
out.txt

/builds/
/dist/
/test-results/

/deb/
/rpm/
/tar/
/tar.gz/
/zip/

/.vscode/

.project
.classpath
/bin/

/manifests/**/*.yml.lock
vars/

test-report.yml
src/release_notes_workflow/results/*

logback.log