/OpenSearch/
/OpenSearch-Dashboards/
/alerting/
/anomaly-detection/
/asynchronous-search/
/dashboards-reports/
/dashboards-visualizations/
/index-management/
/job-scheduler/
/k-nn/
/performance-analyzer/
/security-dashboards-plugin/
/security/
/sql/
/trace-analytics/
/alerting-dashboards-plugin/
/notifications/
/index-management-dashboards-plugin/
/anomaly-detection-dashboards-plugin/
/cross-cluster-replication/
/common-utils/
/opensearch-build/
