[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "~=5.4"
requests = "~=2.26"
isort = "~=5.9"
flake8 = "~=3.9"
pytest = "*"
boto3 = "1.18.31"
botocore = "1.21.33"
json2table = "1.1.5"

[dev-packages]

[requires]
python_version = "3.7"
