Source: opensearch-dashboards
Section: database
Priority: optional
Maintainer: OpenSearch Team <opensearch@amazon.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://opensearch.org/

Package: opensearch-dashboards
Architecture: any
Multi-Arch: foreign
Description: OpenSearch
