name: groovy-tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/checkout@v2
      - name: Run Tests
        run: |
          ./gradlew test --info
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v2
        with:
          files: ./build/reports/jacoco/test/jacocoTestReport.xml
