---
name: python-tests

on: [push, pull_request]

jobs:
  python-tests:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    env:
      PYTHON_VERSION: 3.9
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Pipenv and Dependencies
        run: |
          python -m pip install --upgrade pipenv wheel
          pipenv install --deploy --dev
      - name: Check for Sorted Imports
        run: |
          pipenv run isort --check .
      - name: Enforce Style Guide
        run: |
          pipenv run flake8 .
      - name: Run Type Checker
        run: |
          pipenv run mypy .
      - name: Run Tests with Coverage
        run: |
          pipenv run coverage run -m pytest --cov=./src --cov-report=xml
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml

  python-tests-build-image:
    runs-on: ubuntu-latest
    container:
      image: public.ecr.aws/opensearchstaging/ci-runner:ci-runner-centos7-opensearch-build-v3
      options: --user root
    steps:
      - uses: actions/checkout@v3
      - name: Install Pipenv and Dependencies
        run: |
          pipenv install
      - name: Check for Sorted Imports
        run: |
          pipenv run isort --check .
      - name: Enforce Style Guide
        run: |
          pipenv run flake8 .
      - name: Run Type Checker
        run: |
          pipenv run mypy .
      - name: Run Tests with Coverage
        run: |
          pipenv run coverage run -m pytest --cov=./src --cov-report=xml
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
