---
name: yaml-lint

on: [push, pull_request]

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: 3.9
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Pipenv and Dependencies
        run: |
          python -m pip install --upgrade pipenv wheel
          pipenv install --deploy --dev
      - name: Lint YAML files
        run: |-
          pipenv run yamllint .
